# Ignore model files
nutrition_label_detector.pt

# Ignore checkpoints
ocr/checkpoints/pretrained_wgts.tar

# Ignore Python cache files
__pycache__/
*.py[cod]
*$py.class
ocr/__pycache__/ 
venv

# Ignore environment and image files
*.env
llm/*.png

# Ignore results folder
results/